allure-pytest==2.13.5
allure-python-commons==2.13.5
cryptography==44.0.2
dotenv==0.9.9
dynaconf==3.2.6
faker==22.5.1
requests==2.32.4
schwifty==2025.1.0
urllib3==2.5.0

python-dotenv==1.1.1
pydantic==2.11.7
pytest==8.4.1
fastapi==0.116.1
aiokafka==0.12.0
azure-keyvault-secrets==4.10.0
azure-identity==1.16.1
azure-core==1.35.0
certifi==2025.7.14

uvicorn[standard]

python-multipart==0.0.20
